$xs-min-width: 0px;
$xs-max-width: 321px;
$sm-min-width: 322px;
$sm-max-width: 426px;
$md-min-width: 427px;
$md-max-width: 769px;
$lg-min-width: 770px;
$lg-max-width: 1025px;
$xl-min-width: 1026px;
$xl-max-width: 1441px;
$xxl-min-width: 1442px;
