@import "../../util/variables";

.content-container {
    margin: 0.5% 10% 0.5% 10%; //TRBL
    width: calc(100vw - 20%);
}

@media screen and (min-width: $xs-min-width) and (max-width: $xs-max-width) {
}

@media screen and (min-width: $sm-min-width) and (max-width: $sm-max-width) {
}

@media screen and (min-width: $md-min-width) and (max-width: $md-max-width) {
}

@media screen and (min-width: $lg-min-width) and (max-width: $lg-max-width) {
}
@media screen and (min-width: $xl-min-width) and (max-width: $xl-max-width) {
}

@media screen and (min-width: $xxl-min-width) {
}
