.product-sublist-div {
    position: absolute;
    top: 102%;
    left: 5%;
    right: 10%;
    z-index: 2;
}

.product-sublist-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;

    height: inherit;
}
